<div class="container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-6">
        <% if params[:"type_search"]=="User"%>
<h4> We found <%= @users.length %> result/s </h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">NickName</th>
      <th scope="col">Name</th>
      <th scope="col">Country</th>
      <th scope="col">City</th>
        <th scope="col">Link to the Profile</th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
    <tr>
      <td><%= user.nick_name %></td>
      <td><%= user.name %></td>
      <td><%= user.profile.country %></td>
      <td><%= user.profile.city %></td>
      <td><%= link_to "Visit", user_profile_path( user.id , Profile.where(user_id: user.id).take), class:"btn btn-link"  %></td>    
        
    </tr>
      <% end %>
  </tbody>
</table>
        <% else %>
        <h4> We found <%= @posts.length %> result/s </h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">NickName</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
      <th scope="col">Link to the Profile</th>
    </tr>
  </thead>
  <tbody>
      <% @posts.each do |post| %>
    <tr>
      <td><%= post.user.nick_name %></td>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><%= link_to "Visit", user_profile_path( post.user.id , Profile.where(user_id: post.user.id).take), class:"btn btn-link"  %></td>    
        
    </tr>
      <% end %>
  </tbody>
</table>
        <% end %>
    </div>
    <div class="col">

    </div>
  </div>
</div>    