<p id="notice"><%= notice %></p>

<p>
  <strong>Nick name:</strong>
  <%= @user.nick_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Flags:</strong>
  <%= @user.flags %>
</p>

<p>
  <strong>Suspended:</strong>
  <%= @user.suspended %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Geofence ver:</strong>
  <%= @user.geofence_ver %>
</p>

<p>
  <strong>Geofence:</strong>
  <%= @user.geofence %>
</p>

<p>
  <strong>Superadmin:</strong>
  <%= @user.superadmin %>
</p>
<% if current_user.admin  %>
    <% if (@user.admin || @user.superadmin ) %>
        <%= button_to "Destroy that account", user_path, data: { confirm: "Are you sure?" }, method: :delete %>
    <% else %>
     <%= button_to "Destroy that account", user_path, data: { confirm: "Are you sure?" }, method: :delete %>
    <% end %>
<% end %>
<%= link_to 'Edit', edit_user_path %> |
<%= link_to 'Back', user_profile_path(@user,Profile.where(user_id: @user.id).take) %>
