<div class="container">
    <div class="row">
    <div class="col-lg-4">
<% if @profile.picture.attached? %>
   
<%= image_tag user.avatar.variant(resize_to_limit: [100, 100]) %>
  <% end %>    
<h2>Bio</h2>
<p>
  <%= @profile.bio %>
</p>

<p><em>Gps location</em></p>
<p>
  <%= @profile.gps_location %>
</p>

<p> <em>City</em></p>
<p>
  <%= @profile.city %>
</p>

<p><em>Country</em></p>
<p>
  <%= @profile.country %>
</p>
        <div>
<!----- User account ---->

<%= link_to user_path do %>
            
                                    <button type="button" class="btn btn-primary" aria-label="Left Align">
                                        User Account
                                    </button>
            
<% end %>

            </div>  
<!----- end of User account --->
     <!----- User profile ---->   
<div>
<% if @profile.user_id == current_user.id %>
<%= link_to edit_user_profile_path do %>
                                    <button type="button" class="btn btn-secondary" aria-label="Left Align">
                                        Edit Profile
                                    </button>
<% end %>
<% end %>
</div>
<!----- end of User account --->
<div>    
<%= link_to main_path do %>
                                    <button type="button" class="btn btn-danger" aria-label="Left Align">
                                        Back
                                    </button>
<% end %>   
</div>      
        </div>
    <div class="col-lg-8"><% @posts.each do |post| %>
        <% @comments = Comment.where(post_id: post.id) %>

                <div class="container border">
                  <div class="row">
                     <% if post.user.nick_name == nil %>
                      <div class="col-sm-4"><%= link_to  "User_"+post.user.id.to_s , user_profile_path(User.where(id: post.user.id).take, Profile.where(user_id: post.user_id).take) %>
                          </div>
                    <% else %>  
                         
                        <div class="col-sm-4"><%= link_to  post.user.nick_name , user_profile_path(User.where(id: post.user.id).take, Profile.where(user_id: post.user.id).take) %></div>

                    <% end %>
                    <div class="col-sm-8"><strong><%= post.title %></strong></div>
                  </div>
                   <div>  </div>
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8 border"><%= post.body %></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <ul>
                                      <% post.files.each do |file| %>
                                        <li>
                                          <%= image_tag file.preview(resize_to_limit: [100, 100]) %>
                                        </li>
                                      <% end %>
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul>
                                      <% post.images.each do |file| %>
                                        <li>
                                          <%= image_tag file.variant(resize_to_limit: [100, 100]) %>
                                        </li>
                                      <% end %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                      
                       
                    </div>
                  </div>     
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8 "><small>Location: <%= post.city %>, <%= post.country %></small></div>
                  </div> 
                    <div class="row">
                    <div class="col-sm-4"></div>
                        <div class="col-sm-8 "><small>Created_at: <%= post.created_at.strftime("%Y-%m-%d") %> / Updated_at: <%= post.updated_at.strftime("%Y-%m-%d") %></small></div>
                  </div>
                    <% if can? :update, post %>
                    <% if can? :destroy, post %>
                    <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8 ">
                        <% if can? :update, post %>
                        <%= link_to edit_user_post_path(current_user, post) do %>
                                    <button type="button" class="btn btn-primary" >
                                     Edit
                                    </button>
                        <% end %>
                        <% end %>
                        <% if can? :destroy, post %>
                        <%= link_to user_post_path(current_user, post), method: :delete do %>
                        <button type="button" class="btn btn-primary" >
                                     Delete
                                    </button>
                        </div>
                        <% end %>
                        <% end %>
                  </div> 
                  <% end %>
                  <% end %>
                    
                  <div class="row">
                    <div class="col">
                        <% if post.privacy? && post.mark?  %>
                        <i class="fas fa-comment-slash"></i>
                        <i class="fas fa-lock"></i>
                        <% elsif post.privacy? %>
                        <i class="fas fa-comment-slash"></i>
                        <i class="fas fa-unlock"></i>
                        <% else %> 
                        <button class="btn btn-secundary" id= "buttonCommentary">
                          <i class="far fa-comment"></i>
                        </button>
                      <% end %>
                      </div>
                      <div class="col">
                                <div class="caption" style="text-align:center;">
                                    <%= link_to like_user_post_path(current_user,post), class: "like", method: :put do %>
                                    <button type="button" class="btn btn-info" aria-label="Left Align">
                                     <i class="far fa-thumbs-up" aria-hidden="true"></i>
                                    </button>
                                    <span class="badge"><%= post.get_upvotes.size %></span>
                                <% end %>
                                <%= link_to unlike_user_post_path(current_user, post), class: "like", method: :put do %>
                                    <button type="button" class="btn btn-info" aria-label="Left Align">
                                        <i class="far fa-thumbs-down" aria-hidden="true"></i>
                                    </button>
                                    <span class="badge"><%= post.get_downvotes.size %></span>
                                <% end %>
                                </div>
                            </div>
                     <div class="col">
                         <div class="container">
                             <div class="row">
                                 <div class="col">
                                      <% if Follow.where(user_id: current_user.id, post_id: post.id).exists? %>
                         <div>
                                    <button type="button" class="btn btn-success" aria-label="Left Align">
                                        <i class="fas fa-shoe-prints" aria-hidden="true"></i>
                                    </button></div> 


                            <% else %> 
                           
                         
                         <div><form action="/posts/<%= post.id %>/follows" method = "post">
                                    <div style="margin:0;padding:0">
                                        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                                    </div>  
                                  <button type="submit" class="btn btn-secondary" aria-label="Left Align"><i class="fas fa-shoe-prints" aria-hidden="true"></i></button>   
                                  </form></div>


                                  
                            <% end %>
                                 </div>
                                 <div class="col">
  
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reportPost" ><i class="far fa-flag" aria-hidden="true"></i></button>
                                            <div class="modal fade" id="reportPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Explain yourself</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                    <form action="/posts/<%= post.id %>/inappropiete" method="post">
                                                        <div style="margin:0;padding:0">
                                                            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                                                        </div>
                                                      <div class="form-group">
                                                        <label for="justification" class="col-form-label">Justification:</label>
                                                        <textarea class="form-control" id="justification"></textarea>
                                                      </div>
                                                    </form>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Send message</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>

                                        </div>
                                     </div>
                                 </div>
                             </div>
                  </div>       
                </div>              
    <!--------------- Comments ----------------->
    <!--------------- Create Comment -----------> 
        
        <div class="commentary border">

                <Strong>Create a Comment</Strong>
              <form action="/posts/<%= post.id %>/comments" method = "post">
                <div style="margin:0;padding:0">
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                </div>  
          <div class="form-group">
            <label for="body">Body:</label>
            <textarea class="form-control" id="body" name="body" placeholder="Body" rows="3"></textarea>
          </div>
            
          <div class="container">
                  <div class="row">
                    <div class="col-sm">           
                    </div>
                    <div class="col-sm">
                    </div>
                    <div class="col-sm">
                      <button type="submit" class="btn btn-primary">Comment</button>
                    </div>
                  </div>
                </div>          
        </form>
    
    <!--------------- End Create Comment ------->    
    <!--------------- Comments of the Post ----->
        <% @comments.each do |comment| %> 
                    <div class="container border">
                  <div class="row">
                    <% if comment.user.nick_name == nil %>
                      <div class="col-sm-4"><%= link_to  "User_"+comment.user.id.to_s , user_profile_path(User.where(id: comment.user.id).take, Profile.where(user_id: comment.user_id)).take %>
                          </div>
                    <% else %>  
                         
                        <div class="col-sm-4"><%= link_to  comment.user.nick_name , user_profile_path(User.where(id: comment.user.id).take, Profile.where(user_id: comment.user_id).take) %></div>

                    <% end %>
                           
                    <div class="col-sm-8 border"><%= comment.body %></div>
                  
                      </div>  
                  <div class="row">
                    <div class="col-sm-4">Created at:</div>
                    <div class="col-sm-8 "><%= comment.created_at%></div>
                  </div>     
             
            </div>   
<!------ End of the comments of the Post --->      
        <% end %>
            </div>
              &nbsp;
        <% end %></div>
  </div>
</div>
