<%= form_with(model: inappropiete, local: true) do |form| %>
  <% if inappropiete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inappropiete.errors.count, "error") %> prohibited this inappropiete from being saved:</h2>

      <ul>
      <% inappropiete.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :justification %>
    <%= form.text_area :justification %>
  </div>

  <div class="field">
    <%= form.label :flag %>
    <%= form.check_box :flag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
