<p id="notice"><%= notice %></p>

<p>
  <strong>Justification:</strong>
  <%= @inappropiete.justification %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @inappropiete.flag %>
</p>

<%= link_to 'Edit', edit_inappropiete_path(@inappropiete) %> |
<%= link_to 'Back', inappropietes_path %>
