<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Log_in</title>
        <meta charset="utf-8">
    </head> 
    
    <body>
        
         &nbsp;
        <div class="container">
        <div class="row">
            <div class="col">  
            </div>
            <div class="col-6 border">
                <Strong>Create a Post</Strong>
              <form action="/users/<%= current_user.id %>/posts" method = "post">
                <div style="margin:0;padding:0">
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                </div>  
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="title" class="form-control" id="title" name="title"  placeholder="Title">
          </div>
          <div class="form-group">
            <label for="body">Body:</label>
            <textarea class="form-control" id="body" name="body" placeholder="Body" rows="3"></textarea>
          </div>
          <div class="form-group form-check">
              <div class="container">
                  <div class="row">
                    <div class="col-sm">
                        <input type="checkbox" class="form-check-input" id="privacy" name="privacy">
                       <label class="form-check-label " for="privacy">Privacy</label>
                        
                    </div>
                    <div class="col-sm">
                        <input id ="country" type="hidden" id="country" name="country" value= "<%= @profile.country %>" />    
                    </div>
                    <div class="col-sm">
                      
                        <input id ="city" type="hidden" name="city" id="city" value= "<%= @profile.city %>" />
                      <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                  </div>
                </div>
          </div>
        </form>
            </div>
            <div class="col">
             
            </div>
          </div>
    
        </div>
         &nbsp;
        <div class="container">
            <% @posts.each do |post| %>
          <div class="row">
            <div class="col">
                
            </div>
            <div class="col-6 border">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-4"><%= link_to  post.user.nick_name , user_profile_path(User.where(user_id: post.user.id), Profile.where(user: post.user)) %></div>
                    
                    <div class="col-sm-8"><strong><%= post.title %></strong></div>
                  </div>
                   <div>  </div>
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8 border"><%= post.body %></div>
                  </div> 
                  <div>  </div>
                  <div class="row">
                    <div class="col-sm-4">
                        <% if post.privacy? && post.mark?  %>
                        <i class="fas fa-comment-slash"></i>
                        <i class="fas fa-lock"></i>
                        <% elsif post.privacy? %>
                        <i class="fas fa-comment-slash"></i>
                        <i class="fas fa-unlock"></i>
                        <% else %> 
                        
                       <i class="far fa-comment"></i> 
                      <% end %>
                      </div>
                      <div class="col-sm-8 ">
                        <div class="container">
                        <div class="row">
                            <div class="col">
                                <%= link_to user_validations_path( :user_id => current_user.id, :post_id => post.id, :valid => false ), :method => :post  do %>
                               
                                <%= content_tag(:i,"",class: "far fa-hand-point-down").html_safe %>
                                <% end %>
                                <%= link_to  user_validations_path(:user_id => current_user.id, :post_id => post.id, :valid => true ), :method => :post do %>
                                <%= content_tag(:i,"",class: "far fa-hand-point-up").html_safe %>
                                <% end %>
   
                            </div>
                            <div class="col">
                              <i class="far fa-eye"></i>
                            </div>
                            <div class="col">
                              <i class="far fa-flag"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>       
                </div>
            </div>
            <div class="col"></div>
          </div>
            &nbsp;
            <% end %>
             
        </div>
        
            
    </body>
</html>
