<h1>WELCOME TO: UNBOURDEN</h1>
<ul>
    <li><%=link_to("Create a user", :new_user) %></li>
    <li><%=link_to("See all users", :users) %></li>
    <li><%=link_to("Create a post", :new_post) %></li>
    <li><%=link_to("See all posts", :posts) %></li>
    <li><%=link_to("Create a comment", :new_comment) %></li>
    <li><%=link_to("See all comments", :comments) %></li>
</ul>


<h1>Devoloped by: Joaquin Palominos</h1>
<h1>Group: 15</h1>