<%= form_with(model: file_attachment_dump, local: true) do |form| %>
  <% if file_attachment_dump.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(file_attachment_dump.errors.count, "error") %> prohibited this file_attachment_dump from being saved:</h2>

      <ul>
      <% file_attachment_dump.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
